/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
/* .slick-slide img
{
    display: block;
} */
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
    margin: 0 10px
}
.slick-list.draggable {
  padding-top: 35px
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
/* .slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
} */

/* Icons */
/* @font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
} */
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 51%;

    display: block;

    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
    color: #599e39
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;

    opacity: .75;
    color: #ffb400;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .5s ease
}

.slick-prev
{
    left: -60px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -60px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 90px;
}

.slick-dots
{
    position: absolute;
    bottom: -60px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 3px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 25px;
    height: 25px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    border-radius: 50%;
    transition: all .5s ease
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 50px;
    line-height: 25px;

    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    content: '•';
    text-align: center;

    color: #e1ebf1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all .5s ease
}
.slick-dots li.slick-active button:before
{
    color: #ffb607;
}
.slick-initialized .slick-slide:focus {
  outline: none
}
.slick-dots li button:hover::before {
  color: #ffb607
}
/* .slick-dots .slick-active button {background: #e1ebf1} */
@import url("css.css");
.inline-block, audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

/* --------------------- reset meyer styles --------------------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

audio:not([controls]) {
  display: none; }

ol, ul {
  list-style: none; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: 0; }

/* --------------------- END reset meyer styles ---------------------- */
hr {
  border: 0px none;
  background: none;
  outline: none;
  height: 0;
  margin: 0; }

[hidden] {
  display: none; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  border-radius: 0;
  border: 0 \9; }

input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto; }

input[type=checkbox],
input[type=radio] {
  cursor: pointer; }

textarea {
  overflow: auto;
  vertical-align: top;
  height: auto; }

select[multiple] {
  height: inherit;
  background-color: #fff; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #fff;
  background-color: initial;
  line-height: 18px \9; }

select,
input[type="file"] {
  height: 28px; }

textarea {
  height: auto; }

input[type="hidden"] {
  display: none; }

input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  outline: 1px dotted #666; }

input[type="image"] {
  border: 0; }

body {
  font: 14px "Open Sans", 'Arial', sans-serif; }

img {
  max-width: 100%; }

a, button {
  outline: none;
  border-color: transparent; }
  a:hover, a :active, a:focus, button:hover, button :active, button:focus {
    outline: none;
    background-color: transparent; }

body {
  font-family: 'Roboto', sans-serif; }

.green {
  color: #599e39;
  white-space: nowrap; }
.nowrap{white-space: nowrap;}
.btn {
  width: 320px;
  height: 70px;
  -webkit-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.12);
  border-radius: 34px;
  background-color: #61af3d;
  color: white;
  font-weight: 900;
  font-size: 21px;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .btn:hover {
    background: #4b8530; }

.screen {
  padding: 51px 0;
  background: url("../images/screen1bg.jpg") center no-repeat;
  min-height: 720px;
  background-size: cover; }
  .screen__wrap {
    max-width: 1170px;
    margin: auto; }
  .screen__inner {
    position: relative;
    padding-left: 395px; }
    .screen__inner:before {
      content: '';
      background: url("../images/lady.png") 0 0 no-repeat;
      width: 407px;
      height: 708px;
      position: absolute;
      bottom: -55px;
      left: -53px; }
  .screen__logo {
    max-width: 170px;
    font-weight: 900;
    font-size: 55px;
    line-height: 55px;
    display: inline-block;
    vertical-align: top; }
  .screen__description {
    max-width: 484px;
color: black;
font-size: 24px;
font-weight: 700;
line-height: 32px;
display: inline-block;
vertical-align: top;
margin-left: 79px;
margin-top: 14px;}
  .screen__title {
    color: black;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    margin: 0 auto 10px; }
  .screen .product {
    position: absolute;
    bottom: -135px;
    left: 60px; }
.new .invitation__details {font-weight: bold;}
.action__title {
  color: #444444;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 29px; }
.action__list {
  padding-top: 42px;
  padding-left: 3px; }
.action__item {
  max-width: 367px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px; }
  .action__item:last-child {
    margin-bottom: 0; }
.action__figure {
  width: 80px;
  height: 80px;
  border: 2px solid #599e39;
  background-color: white;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .action__figure.ph1 {
    background: url("../images/c1.jpg") -1px 20px no-repeat, #fff;
    background-size: 70px; }
  .action__figure.ph2 {
    background: url("../images/c2.jpg") 6px 20px no-repeat, #fff;
    background-size: 62px; }
  .action__figure.ph3 {
    background: url("../images/c3.jpg") 5px 18px no-repeat, #fff;
    background-size: 70px; }
  .action__figure.ph4 {
    background: url("../images/c4.png") 10px 10px no-repeat, #fff; }
  .action__figure.ph5 {
    background: url("../images/c5.jpg") -38px 4px no-repeat, #fff;
    background-size: 122px; }
.action__photo {
  width: 80px;
  height: 80px;
  border-radius: 50%; }
.action__icon {
  width: 26px;
  height: 26px;
  -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  background: url("../fonts/check-icon2.svg") center no-repeat, #ffb400;
  background-size: 18px;
  position: absolute;
  top: -5px;
  right: 3px; }
.action__description {
  display: inline-block;
  vertical-align: middle;
  max-width: 250px;
  margin-left: 11px; }
.action__name {
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px; }
.action__information {
  color: #444444;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px; }

.product {
  position: relative;
  width: 326px;
  height: 373px; }
  .product__leaves {
    background: url("../images/leaves.png") 0 0 no-repeat;
    width: 261px;
    height: 175px;
    position: absolute;
    bottom: 0;
    left: 0; }
  .product__berry {
    background: url("../images/berry.png");
    width: 88px;
    height: 66px;
    position: absolute;
    bottom: 22px;
    left: 104px;
    z-index: 1; }
.product__product-photo {
    background: url(../images/product.png) 0 0 no-repeat;
    width: 100%;
    max-width: 169px;
    height: 382px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-size: contain;
}

.invitation {
  margin-top: 23px;
  border-top: 1px solid #d3dbde;
  position: relative;
  padding-top: 35px; }
  .invitation__discount {
    color: white;
    font-size: 22px;
    font-weight: 900;
    background: url("../fonts/discount.svg") 0 0 no-repeat;
    width: 70px;
    height: 71px;
    text-align: center;
    line-height: 70px;
    margin: auto;
    position: absolute;
    top: -38px;
    left: calc(50% - 12px); }
  .invitation__title {
    max-width: 105px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    display: inline-block;
    vertical-align: top; }
  .invitation__price {
    display: inline-block;
    vertical-align: top; }
  .invitation__cost {
    margin-left: 30px;
    display: inline-block;
    vertical-align: top; }
  .invitation__item {
    display: inline-block;
    vertical-align: top; }
    .invitation__item.new {
      margin-left: 55px;
      position: relative; }
      .invitation__item.new:before {
        content: '';
        position: absolute;
        top: -4px;
        left: -30px;
        background: url("../fonts/rect.svg") 0 0 no-repeat;
        width: 8px;
        height: 65px; }
  .invitation__name {
    font-size: 14px;
    line-height: 18px;
    color: #777777; }
  .invitation .default {
    color: #777777; }
  .invitation__price {
    font-size: 40px;
    display: inline-block;
    vertical-align: top; }
    .invitation__price.old {
      position: relative; }
      .invitation__price.old:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #f68c30;
        -webkit-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
                transform: rotate(15deg);
        top: 23px;
        left: 0; }
      .invitation__price.old:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: #f68c30;
        -webkit-transform: rotate(-15deg);
            -ms-transform: rotate(-15deg);
                transform: rotate(-15deg);
        top: 23px;
        left: 0; }
  .invitation__currency {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
    margin-left: -4px; }
  .invitation__btn {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-top: -6px;
    padding: 19px 0;
    cursor: pointer; }

.why {
  padding: 126px 0; }
  .why__list {
    counter-reset: li;
    text-align: center;
    padding-top: 30px; }
  .why__item {
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .why__item:before {
      content: counter(li);
      counter-increment: li;
      width: 40px;
      height: 40px;
      -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15);
              box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15);
      background-color: #ffb400;
      color: white;
      font-size: 20px;
      font-weight: 900;
      text-align: center;
      padding: 5px 0;
      position: absolute;
      top: 15px;
      right: 30px;
      border-radius: 50%;
      z-index: 2; }
    .why__item:after {
      content: '';
      width: 1px;
      height: 168px;
      background-color: #e4eff5;
      position: absolute;
      top: 45px;
      left: -90px; }
    .why__item:nth-child(1):after {
      content: none; }
    .why__item:nth-child(2) {
      margin: 0 175px; }
  .why__figure {
    width: 270px;
    height: 270px;
    background-color: rgba(228, 239, 245, 0.5);
    border-radius: 50%;
    padding: 15px;
    cursor: pointer; }
  .why__figure-border {
    border-radius: 50%;
    width: 237px;
    height: 237px;
    border: 7px solid #e4eff5;
    background-color: white;
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .why__figure-border:hover {
      border-color: #599e39; }
  .why__figure-photo {
    position: absolute; }
    .why__figure-photo.figure1 {
      left: -6px;
      top: -52px;
      width: 267px;
      max-width: inherit; }
    .why__figure-photo.figure2 {
      left: 7px;
      top: -23px;
      z-index: 1;
      width: 235px;
      max-width: inherit; }
    .why__figure-photo.figure3 {
      bottom: -7px;
      left: 22px;
      width: 265px;
      max-width: inherit; }
    .why__figure-photo.time {
      top: 50px;
      right: 30px; }
  .why__description {
    color: black;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 25px; }

.totals {
  margin-top: 25px;
  position: relative;
  padding-top: 50px;
  text-align: center; }
  .totals:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url("../fonts/line.svg") center no-repeat;
    height: 13px;
    width: 100%; }
  .totals__title {
    font-size: 28px;
    font-weight: 700; }
  .totals__secret {
    color: #444444;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px; }

.viki {
  padding: 60px 0;
  background: url("../images/screen1bg.jpg") center no-repeat;
  min-height: 290px; }
  .viki__logo {
    background: url("../images/viki-logo.png") 0 0 no-repeat;
    width: 120px;
    height: 141px;
    margin: -110px auto 0; }
  .viki__description {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px; }
    .viki__description .bold {
      color: #333333;
      font-weight: 500; }

.metabolism {
  padding: 90px 0;
  text-align: center; }
  .metabolism__sub-title {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px; }
  .metabolism__description {
    color: #444444;
    font-size: 18px;
    line-height: 26px;
    width: 1000px;
    margin: 25px auto 10px; }
  .metabolism__star {
    position: relative;
    top: -3px; }
  .metabolism__carousel {
    counter-reset: li; }
  .metabolism__item {
    position: relative;
    width: 370px;
    min-height: 564px;
    border-radius: 5px;
    border: 1px solid #e1e8ec;
    background-color: #e1e8ec;
    display: inline-block;
    vertical-align: top; }
  .metabolism__top-part {
    background: #ffffff;
    padding: 112px 40px 0;
    position: relative;
    border-radius: 5px 5px 0 0;
    min-height: 274px; }
    .metabolism__top-part:after {
      content: '';
      position: absolute;
      bottom: -13px;
      left: calc(50% - 15px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 15px 0 15px;
      border-color: #fff transparent transparent transparent; }
  .metabolism__elem-photo {
    position: relative;
    margin: -140px auto 10px;
    width: 110px;
    height: 111px;
    border: 2px solid #599e39;
    background-color: white;
    border-radius: 50%; }
    .metabolism__elem-photo:before {
      content: '';
      position: absolute;
      top: -5px;
      right: 0;
      border-radius: 50%;
      width: 37px;
      height: 37px;
      -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15);
              box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15);
      background: url("../fonts/check-icon2.svg") center no-repeat, #ffb400; }
    .metabolism__elem-photo.ph1 {
      background: #fff url("../images/c1.jpg") 11px 30px no-repeat; }
    .metabolism__elem-photo.ph2 {
      background: #fff url("../images/c2.jpg") 11px 25px no-repeat; }
    .metabolism__elem-photo.ph3 {
      background: #fff url("../images/c3.jpg") 13px 28px no-repeat; }
    .metabolism__elem-photo.ph5 {
      background: #fff url("../images/c4.png") 17px 15px no-repeat;
      background-size: 75px; }
    .metabolism__elem-photo.ph4 {
      background: #fff url("../images/c5.jpg") -45px 20px no-repeat;
      background-size: 150px; }
  .metabolism__elem-info {
    color: #444444;
    font-size: 17px;
    line-height: 24px; }
  .metabolism__down-part {
    padding: 32px 38px 15px;
    min-height: 290px; }
  .metabolism__result-photo {
    margin-bottom: 5px; }
  .metabolism__result-info {
    color: #333333;
    font-size: 18px;
    line-height: 24px; }
  .metabolism__individual {
    color: #444444;
    font-size: 18px;
    vertical-align: inherit; }

.no-stress {
  padding: 80px 0;
  background: url("../images/screen1bg.jpg") 0 0 no-repeat;
  text-align: center; }
  .no-stress__by {
    font-size: 20px;
    font-weight: 700; }
  .no-stress__list {
    margin-top: 50px;
    background: url(../fonts/lines.svg) no-repeat 75px 20px;
    background-size: 1020px; }
  .no-stress__item {
    max-width: 220px;
    width: 100%;
    display: inline-block;
    vertical-align: top; }
  .no-stress__icon {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.15);
    border: 2px solid #599e39;
    background: url("../fonts/check-icon.svg") center no-repeat, #fff;
    border-radius: 50%;
    margin: auto; }
  .no-stress__description {
    color: #010101;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 40px; }
  .no-stress__btn {
    margin: 55px auto 0;
    width: 500px;
    padding: 18px 0;
    cursor: pointer; }

.care {
    padding: 35px 0 54px;
}
  .care__inner {
    position: relative; }
  .care__details {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    width: 550px;
    margin: 20px auto 45px; }

.popup .product {
  top: -60px;
  left: -95px; }

.use {
  text-align: center; }
  .use .product {
    top: -60px;
    left: -95px; }
  .use__title {
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 65px; }
  .use__action {
    display: inline-block;
    max-width: 230px;
    width: 100%;
    position: relative;
    left: -100px; }
    .use__action:before {
      content: '';
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      border: 7px solid #e9f1f5;
      border-radius: 50%;
      background: #ffb400; }
    .use__action:after {
      content: '';
      display: block;
      position: absolute;
      width: 160px;
      height: 1px;
      background: #a6cb95; }
    .use__action.right {
      left: 100px; }
      .use__action.right:before {
        top: 82px;
        left: -50px; }
      .use__action.right:after {
        top: 94px;
        left: -210px; }
    .use__action.left:before {
      top: 82px;
      right: -50px; }
    .use__action.left:after {
      top: 94px;
      right: -210px; }
  .use__icon {
    margin: auto;
    display: block; }
  .use__instruction {
    color: #444444;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    position: relative;}
  .use__instruction__text:before{
    content: '3/24';
    position: absolute;
    top: -26px;
    left: 120px;
    font-size: 16px;
    color: #63a445;
    font-weight: 500;
  }
  .use__product {
    width: 300px;
    height: 300px;
    border: 20px solid #e4eff5;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px; }

.review {
  padding: 10px 0 70px;
  /* background: url("../images/screen1bg.jpg") center no-repeat; } */
  background: #fff;
  position: relative;
}
.review .top-line {
    border-top: 1px solid #dadee1;
    padding-top: 10px;
}
  .review__photo-container {
    width: 220px;
    display: inline-block;
    margin-top: 45px;
    padding-left: 55px;
    vertical-align: top;
    position: relative; }
    .review__photo-container:before {
      content: '';
      position: absolute;
      top: -40px;
      left: 105px;
      background: url(../fonts/quote.svg) no-repeat;
      width: 25px;
      height: 20px; }
  .review__information {
    width: 74%;
    display: inline-block;
    vertical-align: top; }
  .review__name {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px; }
  .review__status {
    color: #444444;
    font-size: 18px;
    margin-bottom: 30px; }
  .review__text {
    color: #444444;
    font-size: 17px;
    line-height: 24px;
    margin-top: 15px; }

.rating__item {
  width: 21px;
  height: 20px;
  display: inline-block;
  vertical-align: middle; }
  .rating__item.default {
    background: url("../fonts/star-default.svg") 0 0 no-repeat; }
  .rating__item.gold {
    background: url("../fonts/star-gold.svg") 0 0 no-repeat; }

.materials {
  padding: 60px 0; }

.footer {
    padding: 10px 0 0px;
    font-size: 0;
}
  .footer__item {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #666666; }
    .footer__item:nth-child(1) {
      padding-left: 80px;
       }
    .footer__item:nth-child(2) {
      text-align: center; }
    .footer__item:nth-child(3) {
      text-align: right; }
  .footer__link {
    color: #666666;
    text-decoration: none; }
    .footer__link:hover {
      text-decoration: underline; }
  .footer__text {
    line-height: 24px; }

.popup {
  width: 770px;
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  font-size: 0;
  padding: 75px 45px 75px 30px; }
  .popup .default {
    color: #777777; }
  .popup .invitation__btn {
    margin-left: 0;
    margin-top: 0;
    padding: 15px 0; }
  .popup .invitation__cost {
    margin-bottom: 10px; }
  .popup .invitation__discount {
    top: -65px;
    left: 250px;
    z-index: 3; }
  .popup:after {
    content: '';
    display: table;
    clear: both; }
  .popup__left {
    position: relative;
    width: 50%;
    display: inline-block;
    margin-top: 25px; }
  .popup__right {
    width: 50%;
    display: inline-block;
    max-width: 320px;
    float: right;
    font-size: 16px; }
  .popup__input {
    width: 100%;
    height: 70px;
    color: #777777;
    margin-bottom: 20px;
    border: 1px solid #eae9e9;
    border-radius: 35px;
    font-size: 16px;
    padding-left: 55px;
    -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.03);
            box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.03); }
    .popup__input:nth-child(1) {
      background: url(../fonts/name.svg) no-repeat left 25px center; }
    .popup__input:nth-child(2) {
      background: url(../fonts/phone.svg) no-repeat left 25px center; }

input:focus {
  outline: none; }

@media screen and (max-width: 1300px) {
  .screen__wrap {
    width: 900px; }
  .screen__inner{
    padding-left: 0
  }
  .slick-prev, .slick-next{top: 52%}
  .action__list{
    margin-left: 395px
  }
  .invitation{margin-left: 395px}
  .screen__logo{display: block;margin: 0 auto}
  .screen__description{width: 100%;text-align: center; max-width: 700px; margin: 10px auto 0; display: block;}
  .viki__description br {display: none}
  .action__title{text-align: center;}

  .invitation__btn {
    display: block;
    margin: 20px auto 0; }

  .why__item:after {
    display: none; }

  .why__item:nth-child(2) {
    margin: 0 25px; }

  .metabolism__top-part {
    min-height: 340px; }

  .metabolism__item {
    min-height: 680px; }

  .no-stress__item {
    max-width: 175px; }

  .no-stress__list {
    background-size: 900px;
    background-position-x: -10px; }

  .use__action.right {
    left: 30px; }

  .metabolism__description {
    width: 750px; }

  .slick-prev {
    left: -45px; }

  .slick-next {
    right: -45px; }

  .use__action {
    left: -30px; }

  .use__action.right:after {
    width: 85px;
    left: -135px; }

  .use__action.left:after {
    width: 85px;
    right: -135px; }

  .slick-dotted.slick-slider {
    padding: 0 10px; } }
@media screen and (max-width: 999px) {
  .screen__wrap {
    width: 700px; }
  .footer__text{font-size: 12px}

  .screen__inner {
    padding-left: 0; }

  .screen__logo {
    display: block;
    margin: 0 auto; }

  .screen__description {
    display: block;
    width: 100%;
    text-align: center;
    max-width: inherit; }

  .action__list {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  .action__item {
    max-width: 50%; }

  .invitation {
    width: 50%;
    margin-left: 50%; }

  .invitation__title {
    max-width: inherit; }

  .screen__inner:before {
    height: 415px;
    background-size: contain;
    bottom: -51px; 
	display:none;
	}

  .screen .product {
    left: 15px; }
.screen .p2 {display:none;}
  .why__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .why__item:nth-child(2) {
    margin: 25px; }

  .why__item {
    margin: 25px; }

  .metabolism__top-part {
    min-height: 300px; }

  .metabolism__item {
    min-height: 620px; }

  .no-stress__list {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .no-stress__item {
    max-width: 50%;
    margin-bottom: 20px; }

  .no-stress__description {
    width: 220px;
    margin: 20px auto 0; }

  .no-stress {
    background-size: cover; }

  .use__action.left {
    left: 50px; }

  .use__action.right {
    left: 50px;
    top: 230px; }

  .metabolism__description {
    width: 100%; }

  .use__action:before, .use__action:after {
    display: none; }

  .use__action {
    position: absolute; }

  .use {
    text-align: right;
    position: relative; }

  .use__title, .use__action {
    text-align: center; }

  .review {
    background-size: cover; }

  .review__information {
    width: 100%; }

  .review__photo-container {
    display: block;
    margin: 45px auto 0;
    text-align: center;
    padding-left: 0; }

  .review__information {
    text-align: center; }

  .review__photo-container:before {
    display: none; }

  .popup {
    width: 460px; }

  .popup__left, .popup__right {
    width: 100%; }

  .popup__right {
    max-width: 100%;
    margin-top: 45px; }

  .popup .invitation__btn {
    width: 100%; }

  .popup .invitation__cost {
    margin-left: 60px; }

  .popup {
    padding: 75px 30px; } }
@media screen and (max-width: 767px) {
  .screen__wrap {
    width: 460px; }

  .action__item {
    max-width: 80%; }

  .action__list {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .action__list {
    padding-top: 400px; }

  .screen .product {
    bottom: inherit;
    top: 300px; }

  .invitation {
    margin-left: 40%;
    width: 60%; }

  .invitation__discount {
    left: calc(50% - 35px); }

  .invitation__item {
    display: block; }

  .invitation__item.new:before {
    display: none; }

  .invitation__item.new {
    margin-left: 0; }

  .invitation__cost {
    margin-top: 10px;
    margin-left: 100px; }

  .invitation {
    margin-top: 65px; }

  .btn {
    width: 270px; }

  .screen__inner:before {
    left: -30px; }

  .metabolism__top-part {
    min-height: 250px; }

  .metabolism__item {
    min-height: 550px; }

 .no-stress__btn {
    width: 400px;
    font-size: 19px;
    padding: 24px 0;
}

  .care__details {
    width: 100%;
    text-align: center; }

  .use {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .use__action {
    position: static; }

  .use__product {
    margin: 60px auto; }

  .use__title {
    margin-bottom: 25px; }

  .care, .metabolism, .no-stress {
    padding: 60px 0; }
  .review{
    padding: 0 0 60px
  }

  .why {
    padding: 60px 0 100px; }

  .footer__item:nth-child(1), .footer__item:nth-child(3) {
    display: none; }

  .footer__item {
    width: 100%; }



  .popup .use__product {
    margin: 0 50px; }

  .popup .invitation__item {
    display: inline-block; }

.popup .invitation__cost {
    margin-left: 30px;
} }
@media screen and (max-width: 479px) {
  .screen__wrap {
    width: 300px; }

  .screen .product {
    top: 370px;
    left: -65px; }

  .action__item {
    max-width: 100%; }

  .action__description {
    max-width: 200px; }

  .screen__inner:before {
    display: none; }

  .invitation {
    margin-left: 0;
    width: 100%; }

  .screen__title {
    font-size: 30px;
    line-height: 30px; }

  .metabolism__top-part, .metabolism__down-part {
    padding-left: 10px;
    padding-right: 10px; }

  .metabolism__top-part {
    min-height: 300px; }

  .metabolism__item {
    min-height: 620px; }

  .product__leaves {
    left: 80px; }

  .no-stress__item {
    max-width: 100%; }

  .no-stress__btn {
    width: 100%;
    padding: 12px 0;
    margin-top: 20px; }

  .screen__title br {
    display: none; }

  .why__figure {
    width: 250px;
    height: 250px; }

  .why__figure-border {
    width: 220px;
    height: 220px; }

  .why__figure-photo.figure3 {
    width: 235px;
    left: 25px;
    bottom: -8px; }

  .why__figure-photo.figure2 {
    width: 220px;
    left: 5px;
    top: -24px; }

  .why__figure-photo.figure1 {
    width: 250px;
    left: -7px;
    top: -51px; }

  .popup {
    width: 310px;
    padding: 30px 20px; }

  .popup .use__product {
    margin: 60px auto;
    width: 270px;
    height: 270px;
    display: block; }

  .popup .invitation__discount {
    left: 200px;
    top: -15px; }

  .popup .invitation__btn {
    font-size: 20px; }

  .popup__right {
    margin-top: 10px; } }
	
	@media (max-width:767px){
		.screen .p2 {
			display:block;
			top: 330px;
		}
		.footer {margin-top:-20px;}
	}